* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #590d0d;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.judul {
  display: flex;
  justify-content: center;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  max-width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 30px;
  background-color: #7d1313;
  color: white;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-left: auto;
}

nav li {
  list-style-type: none;
}

nav {
  display: flex;
  background-color: #590d0d;
  padding: 5px;
  justify-content: flex-end; 
  position: sticky;
  top: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
}

aside {
  flex: 1;
}


header {
  display: inline;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}


footer {
  padding: 20px;
  color: white;
  background-color: #590d0d;
  font-weight: bold;
}
